
<!--[if lt IE 9]><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"><![endif]-->
<!--[if gt IE 8]><!-->
<!DOCTYPE html>
<!--<![endif]-->
<!--[if lt IE 7]><html xmlns="http://www.w3.org/1999/xhtml" class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html xmlns="http://www.w3.org/1999/xhtml" class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html xmlns="http://www.w3.org/1999/xhtml" class="lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="fr"><!--<![endif]-->
<head>
	<link rel="preconnect" href="https://cdn.unifr.ch" />
	<link rel="dns-prefetch" href="https://www.googletagmanager.com" />
	<link rel="dns-prefetch" href="https://www.google.com" />
	<link rel="preload" href="https://cdn.unifr.ch/Assets/fonts/OpenSans-Regular-webfont.woff" as="font" type="font/woff" crossorigin>
	<link rel="preload" href="https://cdn.unifr.ch/Assets/fonts/OpenSans-Semibold-webfont.woff" as="font" type="font/woff" crossorigin>
	<link rel="preload" href="https://cdn.unifr.ch/Assets/fonts/OpenSans-Bold-webfont.woff" as="font" type="font/woff" crossorigin>
	<link rel="preload" href="https://cdn.unifr.ch/Assets/fonts/OpenSans-Light-webfont.woff" as="font" type="font/woff" crossorigin>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Urban Bricolage. Mining, Designing and Constructing with Reused Building Materials | Anthropologie sociale  | Université de Fribourg</title>
    <meta name="description" content="">
    <meta name="language" content="fr" />
    <meta name="robots" content="index, follow">
    <base href="//www.unifr.ch/anthropos/fr/" />
    <link rel="canonical" href="https://www.unifr.ch/anthropos/fr/recherche/urban-bricolage.-mining,-designing-and-constructing-with-reused-building-materials.html" />
    <link href="//cdn.unifr.ch/uf/v2.4.5/css/bootstrap.css" rel="stylesheet" media="all" type="text/css" crossorigin  />
    <link href="//cdn.unifr.ch/uf/v2.4.5/css/main.css" rel="stylesheet" media="all" type="text/css" crossorigin />
    <link rel="shortcut icon" type="image/ico" href="https://cdn.unifr.ch/sharedconfig/favicon/favicon.ico" />
    <!-- Load IE8 specific styles--><!--[if lt IE 9]>
    <link href="//cdn.unifr.ch/uf/v2.4.5/css/old_ie.css" rel="stylesheet" /><![endif]-->
    <script src="//cdn.unifr.ch/uf/v2.4.5/js/modernizr.js" crossorigin ></script>
    <!-- Spiders alternative page -->
    
        <link rel="alternate" hreflang="fr" href="https://www.unifr.ch/anthropos/fr/recherche/urban-bricolage.-mining,-designing-and-constructing-with-reused-building-materials.html" id="alt_hreflang_fr">
        

<link rel="alternate" hreflang="de" href="https://www.unifr.ch/anthropos/de/forschung/urban-bricolage.-mining,-designing-and-constructing-with-reused-building-materials.html" id="alt_hreflang_de" />
    
    


<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K8998TH');</script>
<!-- End Google Tag Manager --> 

    

<link href="//cdn.unifr.ch/uf/v2.4.5/css/corr.css" rel="stylesheet" defer crossorigin />

<style>
	/*
	a[href^=http]{text-decoration:none;}
	footer a[href^=http]{text-decoration:none; color:#fff;}
	div.sub-menu li.star > a{font-weight:bold;}
	*/
</style>
    

<link href="//cdn.unifr.ch/uf/v2.4.5/css/lightbox.css" rel="stylesheet" media="screen" defer />



    
</head>
<body data-lang="fr" class="sky">



<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K8998TH"
height="0" width="0" loading="lazy" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


<!-- Page wrapper-->
<div id="wrapper">
    <!-- Fixed header-->
    <nav class="fixed-header pusher">
        <div class="fixed-header--bg">
            <div class="container clearfix">

                <!-- The logo -->
                

<a href="https://www.unifr.ch/" class="open-offcanvas square bg-branded hover hidden-desktop" title="Hamburger menu"></a><a href="https://www.unifr.ch" class="hidden-desktop square logo" style="content: ''; display:block;height:55px;width:55px;  no-repeat center center; background-size:contain;" title="Aller à la page d’accueil de ce site"></a>

                

<div class="search hidden-mobile">

    


<script class="search--template" type="text/template">
    <li>
        <a class="search--result-link" href="<%= link %>"></a>
        <h5><%= htmlTitle %></h5>
        <small><%= link %></small>
        <p><%= htmlSnippet %></p>
    </li>
</script>


<script class="search--show-more" type="text/template">
    <li class="text-align-center search--more-results">
        <a class="search--result-link" href="#"></a>
        <p>Voir plus de résultat</p>
        <p>
            <i class="gfx gfx-arrow-down"></i>
        </p>
    </li>
</script>

    <a href="#" data-expander-toggler="search-47727" data-fixed-mode-toggler="tablet laptop desktop large" class="search--toggler square" title="Afficher le moteur de recherche"><i class="gfx gfx-search"></i></a>
    <div data-expander-content="search-47727" data-expander-group="mobile-nav" class="search--input">
        <div class="container">
            
            <div class="input-group">
                <input type="text" class="form-control"/><span class="input-group-btn sd">
                <input type="radio" name="searchdomain" value="https://www.unifr.ch/anthropos/" checked="checked" id="local-" class="hidden"/>
                <label for="local-" class="btn btn-primary sd">Local</label></span><span class="input-group-btn sd">
                <input type="radio" name="searchdomain" value="www.unifr.ch"  id="global-" class="hidden"/>
                <label for="global-" class="btn btn-default">Global</label></span>
            </div>
            
            <ul class="search--results">
                <li class="blank-slate">Aucun résultat</li>
            </ul>
        </div>
    </div>
</div>

                <!-- Globalmenu -->
                <div class="meta-menu"><a href="#" data-fixed-mode-toggler="mobile" data-accordion-toggler="metamenu" class="square meta-menu--toggler hover bg-branded-desk" title="meta-menu toggler"><i class="gfx gfx-tiles"></i><i class="square-triangle"></i><span class="hidden-mobile">Accès rapide</span></a>
    <div data-accordion-content="metamenu" data-accordion-group="mobile-nav" class="meta-menu--content">
        <nav data-scroll-container="data-scroll-container" class="container">
            <ul>
                <li class="first-level"><a href="#" data-accordion-toggler="meta2" data-scroll-to-me="data-scroll-to-me">Université</a>
                    <nav data-accordion-content="meta2">
                        <ul>
                            <li><a href="http://studies.unifr.ch/fr" title="Les études: Bachelor, Master, Doctorat">Etudes</a></li>
                            <li><a href="https://www.unifr.ch/campus/fr" title="La vie sur le Campus">Campus</a></li>
                            <li><a href="https://www.unifr.ch/research/fr" title="La recherche">Recherche</a></li>
                            <li><a href="https://www.unifr.ch/uni/fr" title="L'Université en bref">Université</a></li>
                            <li><a href="https://www.unifr.ch/formcont/fr"  title="Formation continue">Formation continue</a></li>
                        </ul>
                    </nav>
                </li>
                <li class="first-level"><a href="#" data-accordion-toggler="meta1" data-scroll-to-me="data-scroll-to-me">Facultés</a>
                    <nav data-accordion-content="meta1">
                        <ul>
                            <li><a href="https://www.unifr.ch/theo/fr" title="Accéder à la Faculté de théologie"><span class="glyphicon glyphicon-stop color-orange" aria-hidden="true"></span> Théologie</a></li>
                            <li><a href="https://www.unifr.ch/ius/fr" title="Accéder à la Faculté de droit"><span class="glyphicon glyphicon-stop color-red" aria-hidden="true"></span> Droit</a></li>
                            <li><a href="https://www.unifr.ch/ses/fr" title="Accéder à la Faculté des sciences économiques et sociales"> <span class="glyphicon glyphicon-stop color-purple" aria-hidden="true"></span> Sciences économiques et sociales et management</a></li>
							<li><a href="https://www.unifr.ch/lettres/fr" title="Accéder à la Faculté des lettres et des sciences humaines"><span class="glyphicon glyphicon-stop color-sky" aria-hidden="true"></span> Lettres et sciences humaines</a></li>
							<li><a href="https://www.unifr.ch/eduform/fr" title="Accéder à la Faculté des sciences de l'éducation et de la formation"><span class="glyphicon glyphicon-stop color-violet" aria-hidden="true"></span> Sciences de l'éducation et de la formation</a></li>
                            <li><a href="https://www.unifr.ch/scimed/fr" title="Accéder à la Faculté des sciences et de médecine "><span class="glyphicon glyphicon-stop color-green" aria-hidden="true"></span> Sciences et médecine</a></li>
                             <li><a href="https://www.unifr.ch/faculties/fr/interfacultaire.html" title="Interfacultaire"><span class="glyphicon glyphicon-stop color-marine" aria-hidden="true"></span> Interfacultaire</a></li>
                            
                        </ul>
                    </nav>
                </li>
                <li class="first-level"><a href="http://www.unifr.ch/you-are/fr/" data-accordion-toggler="meta0" data-scroll-to-me="data-scroll-to-me">Vous êtes</a>
                    <nav data-accordion-content="meta0">
                        <ul>
                            <li><a href="https://www.unifr.ch/you-are/fr/futurs-etudiants/" title="Vous êtes... futur·e·s étudiant·e·s">Futurs étudiants</a></li>
                            <li><a href="https://www.unifr.ch/you-are/fr/etudiants/" title="Vous êtes... étudiant·e·s">Etudiants</a></li>
                            <li><a href="https://www.unifr.ch/you-are/fr/medias/" title="Vous êtes... médias">Médias</a></li>
                            <li><a href="https://www.unifr.ch/you-are/fr/chercheurs/" title="Vous êtes... chercheuses et chercheurs">Chercheurs</a></li>
                            <li><a href="https://www.unifr.ch/you-are/fr/collaborateurs/" title="Vous êtes... collaboratrices et collaborateurs">Collaborateurs</a></li>
							<li><a href="https://www.unifr.ch/you-are/fr/doctorants/" title="Vous êtes... doctorant·e·s ">Doctorants</a></li>
                        </ul>
                    </nav>
                </li>
                <li class="first-level meta-menu--contact bg-branded-desk">
                    <a href="#" class="hidden-lg hidden-md" data-accordion-toggler="contact" data-scroll-to-me="data-scroll-to-me">Ressources</a>
					<nav data-accordion-content="contact">
                        <ul>
                            <li><a href="https://www.unifr.ch/directory/fr"><span class="fa fa-user fa-fw" aria-hidden="true"></span> Annuaire du personnel</a></li>
                            <li><a href="https://www.unifr.ch/map"><span class="fa fa-map-signs fa-fw" aria-hidden="true"></span> Plan d'accès</a></li>
                            <li><a href="https://www.unifr.ch/biblio"><span class="fa fa-book fa-fw" aria-hidden="true"></span> Bibliothèques</a></li>
                            <li><a href="https://outlook.com/unifr.ch"><span class="fa fa-envelope fa-fw" aria-hidden="true"></span> Webmail</a></li>
                            <li><a href="https://www.unifr.ch/timetable/fr/"><span class="fa fa-calendar fa-fw" aria-hidden="true"></span> Programme des cours</a></li>
                            <li><a href="https://my.unifr.ch"><span class="fa fa-lock fa-fw" aria-hidden="true"></span> MyUnifr</a></li>
                        </ul>
                    </nav>
                </li>
            </ul>
        </nav>
    </div>
</div>


                <!-- Desktop Langmenu -->
                

<nav class="hidden-mobile square language-switch">
    <ul>
        
<li><a href="//www.unifr.ch/anthropos/fr/recherche/urban-bricolage.-mining,-designing-and-constructing-with-reused-building-materials.html" class=" bold" title="Afficher la page en   FR">FR</a></li>

<li><a href="//www.unifr.ch/anthropos/de/forschung/urban-bricolage.-mining,-designing-and-constructing-with-reused-building-materials.html" class="" title="Afficher la page en   DE">DE</a></li>
    </ul>
</nav>

                <!-- Global Breadcrumb -->
                


<div class="breadcrumbs square">

    <a href="//www.unifr.ch" data-accordion-toggler="crumbs" class="square bg-white hover hidden-desktop breadcrumbs--toggler" title="Chemin d’accès global "><i class="gfx gfx-home"></i><i class="square-triangle"></i></a>

    <div data-accordion-content="crumbs" data-accordion-group="mobile-nav" class="breadcrumbs--content">
        <nav class="breadcrumbs--mobile shortened">
            <ul class="breadcrumbs--slider">
                <!-- level 0 -->
                
                <li><a href="//www.unifr.ch" class="gfx gfx-home" title="Aller à la page d’accueil "></a></li>
                

                <!-- level 1 -->
                
                <li class="gfx gfx-triangle-right"></li>
                <li >
                    <a href="//www.unifr.ch/lettres" class="short">Faculté des lettres et des sciences humaines </a>
                    <a href="//www.unifr.ch/lettres" class="long">Faculté des lettres et des sciences humaines </a>
                </li>
                
                <!-- level 2 -->
                
                <li class="gfx gfx-triangle-right"></li>
                <li >
                    <a href="//www.unifr.ch/dss-dsw/" class="short">Sciences sociales</a>
                    <a href="//www.unifr.ch/dss-dsw/" class="long">Sciences sociales</a>
                </li>
                
                <!-- level 3 -->
                
                <li class="gfx gfx-triangle-right"></li>
                <li class="desktop-expanded">
                    <a href="//www.unifr.ch/anthropos/" class="short">Anthropologie sociale</a>
                    <a href="//www.unifr.ch/anthropos/" class="long">Anthropologie sociale</a>
                </li>
                
            </ul>
        </nav>
    </div>
</div>
            </div>
        </div>
    </nav>
    <!-- Offcanvas pusher-->
    <div class="pusher pass-height">
        <!-- Page header/offcanvas-->
        <header id="header" class="offcanvas pass-height">
            <nav class="service-menu">
                <!-- mobile tools menu -->
                <div class="hidden-desktop clearfix">

                    <!-- Search Mobile -->
                    
                    <div class="search">
                        <!-- Template for one search result -->
                        


<script class="search--template" type="text/template">
    <li>
        <a class="search--result-link" href="<%= link %>"></a>
        <h5><%= htmlTitle %></h5>
        <small><%= link %></small>
        <p><%= htmlSnippet %></p>
    </li>
</script>


<script class="search--show-more" type="text/template">
    <li class="text-align-center search--more-results">
        <a class="search--result-link" href="#"></a>
        <p>Voir plus de résultat</p>
        <p>
            <i class="gfx gfx-arrow-down"></i>
        </p>
    </li>
</script>

                        <a href="#" data-expander-toggler="search-27564" data-fixed-mode-toggler="tablet laptop desktop large" class="search--toggler square" aria-label="search" title="Afficher le moteur de recherche"><i class="gfx gfx-search"></i></a>
                        <div data-expander-content="search-27564" data-expander-group="mobile-nav" class="search--input">
                            <div class="container">
                                
                                <div class="input-group">
                                    <input type="text" class="form-control"/>
                                    <span class="input-group-btn sd">
                                        <input type="radio" name="searchdomain" value="https://www.unifr.ch/anthropos/" id="local-" class="hidden" checked="checked"/>
                                        <label for="local-" class="btn btn-primary sd">Local</label>
                                    </span>
                                    <span class="input-group-btn sd">
                                        <input type="radio" name="searchdomain" value="www.unifr.ch"  id="global-" class="hidden" />
                                        <label for="global-" class="btn btn-default">Global</label>
                                    </span>
                                </div>
                                
                                <ul class="search--results">
                                    <li class="blank-slate">Aucun résultat</li>
                                </ul>
                             </div>
                        </div>
                    </div>


                    <!-- langmenu.mobile -->
                    

<nav class="language-switch square hover bg-white"><a href="#" data-accordion-toggler="language-switch" class="toggle-language-switch square" title="Choisir une autre langue ">FR</a>
    <div data-accordion-content="language-switch" class="dropdown">
        <ul class="bg-white">
            

<li><a href="//www.unifr.ch/anthropos/fr/recherche/urban-bricolage.-mining,-designing-and-constructing-with-reused-building-materials.html" class="square bg-white hover  bold" title="Afficher la page en   FR">FR</a></li>


<li><a href="//www.unifr.ch/anthropos/de/forschung/urban-bricolage.-mining,-designing-and-constructing-with-reused-building-materials.html" class="square bg-white hover " title="Afficher la page en   DE">DE</a></li>
        </ul>
    </div>
</nav>
                    <a href="#" class="close-offcanvas square hover bg-marine" title="close offcanvas"></a>
                </div>
                <div class="hidden-mobile">
                    <div class="container service-menu--relation">
                        <nav class="clearfix">
                            
                        </nav>
                        
<h1 class="logo"><span class="sr-only">Université de Fribourg</span><a href="//www.unifr.ch"  title="Aller à la page d’accueil de l’Université"><img src="//cdn.unifr.ch/uf/v2.4.5/gfx/logo.png" alt="Logo Unifr" " /></a></h1>

<p class="service-menu--department"><a href="//www.unifr.ch/anthropos/fr/" title="Aller à la page d’accueil de ce site">Anthropologie sociale</a></p>
                    </div>
                </div>
            </nav>
            

<!-- Use class flat-menu or push-menu on this container-->
<!-- to toggle between the two types of navigation. The underlying-->
<!-- structure is exactly the same.-->
<nav class="push-menu container">
    <!-- First navigation level is visible, therefore needs-->
    <!-- the class .in-->
    <!-- .default is needed to not register a swipe event listener-->
    <div class="level default in">

        
<!-- start outerTpl -->
<ul>
    <li class="first"><a href="//www.unifr.ch/anthropos/fr/" title="Home" >Home</a></li>


<!-- start parentRowTpl -->
<li class="">
	<a href="//www.unifr.ch/anthropos/fr/news-et-events/actualites/" title="News & Events"   class="deeper">
		Actualités
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Retour</a></li>
		<li class="first"><a href="//www.unifr.ch/anthropos/fr/news-et-events/evenements.html" title="Evénements" >Evénements</a></li>
<li><a href="//www.unifr.ch/anthropos/fr/news-et-events/actualites/" title="Actualités" >Actualités</a></li>
<li><a href="https://twitter.com/anthropo_s" title="Twitter" >Twitter</a></li>
<li class="last"><a href="https://www.instagram.com/unifr_anthropos?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" title="Instagram" >Instagram</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->


<!-- start parentRowTpl -->
<li class="">
	<a href="//www.unifr.ch/anthropos/fr/unite/profil/" title="Unité"   class="deeper">
		Unité
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Retour</a></li>
		<li class="first"><a href="//www.unifr.ch/anthropos/fr/unite/profil/" title="Profil" >Profil</a></li>
<li><a href="//www.unifr.ch/anthropos/fr/unite/equipe/" title="Equipe" 164,165,166>Equipe</a></li>
<li><a href="//www.unifr.ch/anthropos/fr/unite/historique.html" title="Histoire" >Histoire</a></li>
<li><a href="//www.unifr.ch/anthropos/fr/unite/contact.html" title="Contact" >Contact</a></li>
<li><a href="//www.unifr.ch/anthropos/fr/unite/fachschaft.html" title="Fachschaft" >Fachschaft</a></li>
<li><a href="//www.unifr.ch/anthropos/fr/unite/bibliotheque.html" title="Bibliothèque" >Bibliothèque</a></li>
<li class="last"><a href="//www.unifr.ch/anthropos/fr/unite/cav.html" title="Ressources audiovisuelles" >Ressources audiovisuelles</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->


<!-- start parentRowTpl -->
<li class="">
	<a href="//www.unifr.ch/anthropos/fr/etudes/" title="Etudes"   class="deeper">
		Etudes
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Retour</a></li>
		<li class="first"><a href="//www.unifr.ch/anthropos/fr/etudes/rentree.html" title="Rentrée SP26" >Rentrée SP26</a></li>
<li><a href="//www.unifr.ch/anthropos/fr/etudes/bachelor.html" title="Bachelor" >Bachelor</a></li>
<li><a href="//www.unifr.ch/anthropos/fr/etudes/master.html" title="Master" >Master</a></li>
<li><a href="//www.unifr.ch/anthropos/fr/etudes/doctorat.html" title="Doctorat" >Doctorat</a></li>
<li><a href="//www.unifr.ch/anthropos/fr/etudes/conseil-aux-etudes.html" title="Conseil aux études" >Conseil aux études</a></li>
<li><a href="//www.unifr.ch/anthropos/fr/etudes/examens.html" title="Examens" >Examens</a></li>
<li><a href="//www.unifr.ch/anthropos/fr/etudes/reglements-et-directives.html" title="Règlements & directives" >Règlements & directives</a></li>
<li><a href="//www.unifr.ch/anthropos/fr/etudes/mobilite.html" title="Mobilité" >Mobilité</a></li>
<li><a href="//www.unifr.ch/anthropos/fr/etudes/summer-schools.html" title="Écoles d'été" >Écoles d'été</a></li>
<li><a href="//www.unifr.ch/anthropos/fr/etudes/projets-denseignement/" title="Projets d'enseignement" >Projets d'enseignement</a></li>
<li class="last"><a href="//www.unifr.ch/anthropos/fr/etudes/perspectives-professionnelles.html" title="Perspectives professionnelles" >Perspectives professionnelles</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->


<!-- start parentRowTpl -->
<li class="last active">
	<a href="//www.unifr.ch/anthropos/fr/recherche/" title="Recherche"   class="deeper">
		Recherche
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Retour</a></li>
		<li class="first"><a href="//www.unifr.ch/anthropos/fr/recherche/publications.html" title="Publications" >Publications</a></li>


<!-- start parentRowTpl -->
<li class="">
	<a href="//www.unifr.ch/anthropos/fr/recherche/projets/" title="Projets de recherche"   class="deeper">
		Projets de recherche
		<!--<span class="deeper"></span>-->
	</a>
	


<!-- start innerTpl -->
<div class="level">
	<ul>
		<li><a href="#" class="back">Retour</a></li>
		<li class="first"><a href="//www.unifr.ch/anthropos/fr/recherche/projets/managing-volumes.html" title="Managing Volumes: Infrastructure in Belgrade Wetlands" >Managing Volumes: Infrastructure in Belgrade Wetlands</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->
<li class="last"><a href="//www.unifr.ch/anthropos/fr/recherche/éthique-de-la-recherche.html" title="Éthique de la recherche" >Éthique de la recherche</a></li>

	</ul>
</div>
<!-- end innerTpl -->
</li>
<!-- end parentRowTpl -->

</ul>
<!-- end outerTpl -->

    </div>
</nav>

        </header>
        <!-- Main content-->
        <main id="main">
            <div class="visible-lt-ie9 fixed-page-overlay"></div>
            <div class="container">
                <div class="sub-menu--spacer"></div>
                



<nav class="deepcrumbs">
<ul>
    
        <li><a href="//www.unifr.ch/anthropos/fr/" class="gfx gfx-home" title="Aller à la page d’accueil de ce site"></a></li>
	<li><a href="//www.unifr.ch/anthropos/fr/recherche/">Recherche</a></li>
</ul>
</nav>

                <div class="content">
                    <div class="row inner">
                        <div class="col-md-3 sub-menu">
                            <nav>
                                <h4>
                                    
                                    <a href="//www.unifr.ch/anthropos/fr/recherche/" data-expander-toggler="sub-menu" data-fixed-mode-toggler="mobile" class="filter--title fixed-page-mode--toggler hidden-min-laptop">
                                        Recherche</a>
                                    <a href="//www.unifr.ch/anthropos/fr/recherche/" class="hidden-max-laptop">
                                        Recherche</a>
                                    
                                </h4>

                                <div data-expander-content="sub-menu" data-expander-group="mobile-nav" class="sub-menu--content">

                                    <ul><li class="first"><a href="//www.unifr.ch/anthropos/fr/recherche/publications.html" title="Publications" >Publications</a></li>



<!--parentRowTpl-->
<li class="">
    <a href="//www.unifr.ch/anthropos/fr/recherche/projets/" title="Projets de recherche" class="deeper"  >
        Projets de recherche <i data-expander-toggler="sub-menu-59"
                            
                            
                            class="gfx gfx-triangle-thin-down"></i>

    </a>
    <div data-expander-content="sub-menu-59" class="level"
         
         >
        <ul><li class="first"><a href="//www.unifr.ch/anthropos/fr/recherche/projets/managing-volumes.html" title="Managing Volumes: Infrastructure in Belgrade Wetlands" >Managing Volumes: Infrastructure in Belgrade Wetlands</a></li>
</ul>
    </div>
</li>
<!--/parentRowTpl-->
<li class="last"><a href="//www.unifr.ch/anthropos/fr/recherche/éthique-de-la-recherche.html" title="Éthique de la recherche" >Éthique de la recherche</a></li>
</ul>

                                </div>

                            </nav>

                        </div>
                        <div class="col-md-9 inner-30">
                            <div id="" class="row inner ">
    <div class="col-md-12 inner-10">
        <h3>Urban Bricolage. Mining, Designing and Constructing with Reused Building Materials</h3>
<p>Prof. Madlen Kobi</p>
<p>Contact:&nbsp;<a href="mailto:madlen.kobi@unifr.ch">madlen.kobi@unifr.ch</a></p>

<figure>

		
<img src="/anthropos/assets/public/images/projets/madlen.jpg" width="100%" style="margin:auto;">

		
    <figcaption>
        <span></span>
    </figcaption>
</figure>


<p>Picture:&nbsp;Demolition site in Vienna, Radetzkystrasse, June 2022 (Madlen Kobi)</p>
<p>&nbsp;</p>
<p>At the intersection of anthropology and architecture, the SNSF-funded project “Urban Bricolage. Mining, Designing and Constructing with Reused Building Materials“ investigates everyday resistances when handling reused materials in four European countries (Switzerland, Austria, Italy, Poland) to optimize the circular economy of building construction. The project enquires into the practical problems that scrap dealers, middlemen, architects, engineers, digital experts, company owners, and carpenters face when working with reused materials. It combines architectural debates on the technical possibilities, aesthetic reconfiguration, and material transformability of reused materials with an actor-centred approach on human-material relations. Beyond the academic output, the project engages in public activities to help optimizing circular processes in Switzerland and beyond.</p>
<p><a class="link external" href="http://www.urbanbricolage.ch/" target="_blank">Website of the project</a></p>
<p>&nbsp;</p>
<p>Funded: Swiss National Science Foundation PRIMA&nbsp;<a class="link inline" href="https://data.snf.ch/grants/grant/201585" target="_blank">(Grant Nr. 201585)</a><br>Duration: 1.1.2022-31.12.2026</p>
<p>&nbsp;</p>
<p><strong>Core team</strong></p>
<ul style="list-style-type: circle;">
<li>Madlen Kobi</li>
<li>Elena Sischarenco</li>
<li>Vanessa Feri</li>
<li>Adam Przywara</li>
<li>Rahel Jud</li>
</ul>
    </div>
</div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- Footer-->
        


        <footer id="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-menu col-md-9">
                <div class="row">
                    <div class="col-xs-4">
                        <h6><a href="//www.unifr.ch/anthropos/fr/unite/">UNITÉ</a></h6>
<ul><li class="first"><a href="//www.unifr.ch/anthropos/fr/unite/profil/" title="Profil" >Profil</a></li>
<li><a href="//www.unifr.ch/anthropos/fr/unite/equipe/" title="Equipe" 164,165,166>Equipe</a></li>
<li><a href="//www.unifr.ch/anthropos/fr/unite/historique.html" title="Histoire" >Histoire</a></li>
<li><a href="//www.unifr.ch/anthropos/fr/unite/contact.html" title="Contact" >Contact</a></li>
<li><a href="//www.unifr.ch/anthropos/fr/unite/fachschaft.html" title="Fachschaft" >Fachschaft</a></li>
<li><a href="//www.unifr.ch/anthropos/fr/unite/bibliotheque.html" title="Bibliothèque" >Bibliothèque</a></li>
<li class="last"><a href="//www.unifr.ch/anthropos/fr/unite/cav.html" title="Ressources audiovisuelles" >Ressources audiovisuelles</a></li>
</ul>
                    </div>
                    <div class="col-xs-4">
                        <h6><a href="//www.unifr.ch/anthropos/fr/etudes/">ETUDES</a></h6>
<ul><li class="first"><a href="//www.unifr.ch/anthropos/fr/etudes/rentree.html" title="Rentrée SP26" >Rentrée SP26</a></li>
<li><a href="//www.unifr.ch/anthropos/fr/etudes/bachelor.html" title="Bachelor" >Bachelor</a></li>
<li><a href="//www.unifr.ch/anthropos/fr/etudes/master.html" title="Master" >Master</a></li>
<li><a href="//www.unifr.ch/anthropos/fr/etudes/doctorat.html" title="Doctorat" >Doctorat</a></li>
<li><a href="//www.unifr.ch/anthropos/fr/etudes/conseil-aux-etudes.html" title="Conseil aux études" >Conseil aux études</a></li>
<li><a href="//www.unifr.ch/anthropos/fr/etudes/examens.html" title="Examens" >Examens</a></li>
<li><a href="//www.unifr.ch/anthropos/fr/etudes/reglements-et-directives.html" title="Règlements & directives" >Règlements & directives</a></li>
<li><a href="//www.unifr.ch/anthropos/fr/etudes/mobilite.html" title="Mobilité" >Mobilité</a></li>
<li><a href="//www.unifr.ch/anthropos/fr/etudes/summer-schools.html" title="Écoles d'été" >Écoles d'été</a></li>
<li><a href="//www.unifr.ch/anthropos/fr/etudes/projets-denseignement/" title="Projets d'enseignement" >Projets d'enseignement</a></li>
<li class="last"><a href="//www.unifr.ch/anthropos/fr/etudes/perspectives-professionnelles.html" title="Perspectives professionnelles" >Perspectives professionnelles</a></li>
</ul>
                    </div>
                    <div class="col-xs-4">
                        <h6><a href="//www.unifr.ch/anthropos/fr/recherche/">RECHERCHE</a></h6>
<ul><li class="first"><a href="//www.unifr.ch/anthropos/fr/recherche/publications.html" title="Publications" >Publications</a></li>
<li><a href="//www.unifr.ch/anthropos/fr/recherche/projets/" title="Projets de recherche" >Projets de recherche</a></li>
<li class="last"><a href="//www.unifr.ch/anthropos/fr/recherche/éthique-de-la-recherche.html" title="Éthique de la recherche" >Éthique de la recherche</a></li>
</ul>
                    </div>
                </div>
            </nav>
            <nav class="footer-menu--contact col-md-3 col-xs-12">
                <div class="row">
                    <div class="col-sm-6 col-md-12 inner">
                        




<div>
    <h6>Contact</h6>
    <p>Université de Fribourg</p>
    <p>Anthropologie sociale – Département des Sciences sociales</p>
    <p>Bd. de Pérolles 90</p>
    <p>CH-1700 Fribourg</p>
    <p><a class="link" href="tel:+41 26 300 78 43">+41 26 300 78 43</a></p>
    <p><a href="mailto:anthropologie@unifr.ch" class="link">anthropologie@unifr.ch</a></p>
    <p><a href="//www.unifr.ch/anthropos" class="link" aria-label="Go to homepage">www.unifr.ch/anthropos</a></p>
</div>
<div class="footer--social-links">
    <p>
        <a href="https://www.facebook.com/unifribourg" target="_blank" class="gfx gfx-facebook" aria-label="Go to Facebook page of Unifr"></a>
        <a href="https://www.youtube.com/channel/UCx74T4l0XqJFLcdlCavnoXQ" target="_blank" class="fa fa-youtube-play" aria-label="Go to YouTube Channel of Unifr"></a>
        <a href="https://www.linkedin.com/edu/school?id=10930" target="_blank" class="fa fa-linkedin" aria-label="Go to LinkedIn page of Unifr"></a>
        <a href="https://instagram.com/unifribourg/" target="_blank" class="fa fa-instagram" aria-label="Go to Instagram page of Unifr"></a>
    </p>
</div>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "EducationalOrganization",
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Fribourg",
    "addressRegion": "FR",
    "postalCode": "1700",
    "streetAddress": "Bd. de Pérolles 90"
  },
  "url" : "www.unifr.ch/anthropos",
  "name": "Anthropologie sociale – Département des Sciences sociales",
  "contactPoint" : [
    { "@type" : "ContactPoint",
      "telephone" : "+41 26 300 78 43",
      "contactType" : "customer support",
      "availableLanguage" : ["English","French","German"]
    } ],
  "parentOrganization": {
    "@context": "http://schema.org",
    "@type": "EducationalOrganization",
    "name":"Université de Fribourg | Universität Freiburg",
    "address": {
        "@type": "PostalAddress",
        "addressLocality": "Fribourg",
        "addressRegion": "FR",
        "postalCode": "1700",
        "streetAddress": "Avenue de l'Europe 20"
    },
    "contactPoint" : [
    { "@type" : "ContactPoint",
      "telephone" : "+41-026-300-7034",
      "contactType" : "customer support",
      "availableLanguage" : ["English","French","German","Italian"],
      "url":"https://www.unifr.ch/unicom"
    } ],
    "sameAs" : "https://fr.wikipedia.org/wiki/Universit%C3%A9_de_Fribourg"
  }
}
</script>






                    </div>
                    <div class="col-sm-6 col-md-12">
                        
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="footer-menu--meta">
        <div class="container">
            <div class="row">
                <div class="footer--copyright col-md-8 col-sm-6"><span>&copy; Université de Fribourg | </span><a href="//www.unifr.ch/impressum">Impressum</a> | <a href="//www.unifr.ch/disclaimer">Mentions légales</a> | <a href="//www.unifr.ch/help">Numéros d'urgence</a></div>
            </div>
        </div>
    </div>
</footer>

    </div>
</div>
<!-- Bundled scripts-->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" defer crossorigin />
<script src="//cdn.unifr.ch/uf/v2.4.5/js/shared.js" ></script>
<script src="//cdn.unifr.ch/uf/v2.4.5/js/app.js" ></script>

<!--[if lt IE 10]>
<script src="//cdn.unifr.ch/uf/v2.4.5/js/lt_ie_10.js" defer></script><![endif]-->
<!--[if lt IE 9]>
<script src="//cdn.unifr.ch/uf/v2.4.5/js/polyfills.js" defer></script><![endif]-->



<script src="//cdn.unifr.ch/uf/v2.4.5/js/lightbox.js" defer></script>



<script>
    setTimeout(function(){
        $(document).ready(function($) {
            hash = "#"+window.location.hash.replace(/[^a-z0-9]/gi, '');
            if (hash) {
                $(hash).click();
            }
        });
    }, 250);

</script>



</body>
</html>